.intro{ background: url(../images/bg.jpg) left top; }
.navbar-light .navbar-brand {
    background: #4aaaa5;
    padding: 10px 30px;
    color: #fff;
    font-weight: 700;
}



.intro h1{ color: #4aaaa5; font-size: 42px; }

.intro p {
    font-size: 27px;
}

footer{ border-top:9px solid #4aaaa5; }
